<!DOCTYPE html>
<html lang="en">

<html>
<head>
    <title>@ViewBag.Title</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        @* start nav *@
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            @*<a class="navbar-brand" href="#"></a>*@
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trang chủ", "Index")</li>

                    <li>@Html.ActionLink("Liên Hệ", "Contact")</li>

                    <li>@Html.ActionLink("About", "About")</li>

                    <li>@Html.ActionLink("Điều kiện đặt vé", "Conditions")</li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Còn lại</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a>@Html.ActionLink("Hướng dẫn", "Guide")</a>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
        @* end nav *@

    </header>

    <div>
        @RenderBody()
    </div>

    <footer class="page-footer font-small indigo bg-info ">
        <div class="container text-center text-md-left ">
            <div class="row">
                <div class="col">
                    <ul class="list-unstyled  mt-3 mb-4 ">
                        <h5><a href="#">Vietnam Airlines</a></h5>
                        <li>
                            <a href="#" class=" text-white">Giới thiệu Công Ty</a>
                        </li>
                        <li>
                            <a href="#" class=" text-white">Đội Bay</a>
                        </li>
                        <li>
                            <a href="#" class=" text-white">Đối Tác</a>
                        </li>
                        <li>
                            <a href="#" class=" text-white">Thông Tin Truyền Thông</a>
                        </li>
                        <li>
                            <a href="#" class=" text-white">Quan Hệ Cổ Đông</a>
                        </li>
                        <li>
                            <a href="#" class=" text-white">Thông Tin Đấu Thầu</a>
                        </li>
                        <li>
                            <a href="#" class=" text-white">Làm Việc Với Vietnam Airlines</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col">
                    <ul class="list-unstyled  mt-3 mb-4 ">
                        <h5><a href="#">Pháp Lý</a></h5>
                        <li>
                            <a href="#" class=" text-white">Các Điều Kiện & Điều Khoản</a>
                        </li>
                        <li>
                            <a href="#" class=" text-white">Điều Lệ Vận Chuyển</a>
                        </li>
                        <li>
                            <a href="#" class=" text-white">Điều Kiện Sử Dụng Cookies</a>
                        </li>
                        <li>
                            <a href="#" class=" text-white">Bảo Mật Thông Tin</a>
                        </li>
                        <li>
                            <a href="#" class=" text-white">Quy Chế Hoạt Động Sàn TMĐT</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col">
                    <ul class="list-unstyled  mt-3 mb-4">
                        <h5><a href="#">Hỗ Trợ</a></h5>
                        <li>
                            <a href="#" class=" text-white">Chăm Sóc Khách Hàng</a>
                        </li>
                        <li>
                            <a href="#" class=" text-white">Chính Sách Bảo Vệ Hành Khách</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col">
                    <ul class="list-unstyled  mt-3 mb-4">
                        <h5><a href="#">Vận Tải Hàng Hóa</a></h5>
                        <li>
                            <a href="#" class=" text-white">Trang Web Hàng Hoá</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col">
                    <ul class="list-unstyled  mt-3 mb-4">
                        <h5><a href="#">Thông Tin Hữu Ích</a></h5>
                        <li>
                            <a href="#" class=" text-white">Thông Tin Hành Lý</a>
                        </li>
                        <li>
                            <a href="#" class=" text-white">Thuế, Phí, Lệ Phí & Phụ Thu</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">
            © 2020 Vietnam Airlines JSC
            <h6>Tổng công ty Hàng không Việt Nam - CTCP. Số 200 Nguyễn Sơn, P.Bồ Đề, Q.Long Biên, Hà Nội.</h6>
            <h6>Điện thoại: (+84-24) 38272289. Fax: (+84-24) 38722375.</h6>
            <h6>Giấy chứng nhận đăng ký doanh nghiệp, mã số doanh nghiệp: 0100107518, đăng ký lần đầu ngày 30/6/2010, đăng ký thay đổi lần thứ 5 ngày 08/7/2016, cấp bởi Sở KHĐT thành phố Hà Nội.</h6>
        </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>


